/* daqui pra baixo é a pagina de Index */

* {
  padding: 0;
  margin: 0;
  font-family: 'Arial';
}

.fundo {
  background: #B0E0E6;
  min-height: 100vh;
}

.menu {
  background: #131315;
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  text-decoration: none;
  color: #B0E0E6;
  margin: 15px;
  font-size: 40px;
}

.perfil {
  color: #131315;
  display: flex;
  padding: 50px;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.texto h1 {
  font-size: 45px;
}

.texto p {
  font-size: 24px;
  text-align: justify;
  margin: 0 45px 0 0;
}

.perfil img {
  border: 3px solid #fff;
  border-radius: 50%;
  height: 350px;
}

.video {
  color: #131315;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.video h2 {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.video iframe {
  border: 3px solid #fff;
}

.tm-social {
  width: 50px;
  height: 50px;
  display: center;
  flex-direction: line;
  align-items: center;
  padding: 10px;
}

/* daqui pra baixo é a pagina de contato */

.formulario {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #131315;
}

.formulario h2 {
  font-size: 35px;
}

.form {
  display: flex;
  flex-direction: column;
}

.campos {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.campos input {
  padding: 6px;
  font-size: 18px;
}

button {
  margin-top: 10px;
  border: 2px solid #006400;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: #006400;
  font-size: 18px;
  letter-spacing: 3px;
}

button:hover {
  color: #006400;
  background: #B0E0E6;
  border: 2px solid #006400;
  font-weight: 700;
}

/* daqui pra baixo é a pagina de Projetos */